

.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.notes-in-calendar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notes-in-calendar li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
